{% extends 'base.html' %}
{% block content %}
<center>
<div class='ab'>
<h1> About</h1>
<br>
<p> Django web application developed by Viraj Nagre</p>
<br><br><br>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempus lobortis ligula at pharetra. Integer vehicula leo at laoreet malesuada. Fusce efficitur, quam sed faucibus mattis, velit risus varius ipsum, sit amet faucibus sapien tortor ut nisi. Donec eget justo cursus, fermentum nisl eget, varius lectus. Duis ac sagittis augue. Quisque fringilla, justo non convallis vulputate, lectus erat commodo ex, sed blandit sapien lorem id odio. Aliquam vel ligula quis nunc placerat sodales. Mauris pharetra in tellus at feugiat. Sed ante eros, dictum eget vestibulum vel, aliquet a turpis. Sed gravida quam scelerisque libero ullamcorper, ac ultrices metus pharetra. Pellentesque ac diam nec mi tincidunt bibendum. Aenean imperdiet interdum neque et facilisis. Nam interdum lobortis gravida. Suspendisse fermentum est ut dolor suscipit fringilla. Morbi sed ullamcorper justo. Morbi felis nisi, porta vel nunc at, egestas vestibulum risus.

Pellentesque venenatis cursus nisi, ac mollis tellus egestas at. Nunc ultrices efficitur cursus. Nulla eget enim non diam facilisis suscipit. Nam ultricies augue eros. Praesent quis enim eget odio venenatis ultrices. Vestibulum id elementum mi. Sed convallis nisi eu nunc congue, at sagittis est scelerisque. Vivamus posuere vestibulum iaculis. Fusce non facilisis diam.

Etiam convallis, orci quis ultricies tristique, velit orci cursus nisl, at scelerisque arcu quam et felis. Vestibulum nec iaculis augue. Morbi sed diam eu massa sollicitudin aliquet. Aliquam efficitur, sapien eu ultricies condimentum, urna nibh molestie nunc, eget fermentum est nibh id justo. Praesent ultrices vulputate risus, sit amet porttitor elit venenatis eget. Maecenas fermentum hendrerit metus, at vehicula lacus pretium vel. Suspendisse maximus urna ut massa convallis porttitor. Maecenas vulputate, nibh eget lobortis laoreet, erat nibh hendrerit odio, et elementum nisl dui id nunc. Duis a placerat massa.

Quisque ac aliquam mi, lacinia finibus justo. Sed ante quam, feugiat sed facilisis eu, viverra at arcu. Vestibulum facilisis lacinia neque, sit amet accumsan mi. Praesent semper facilisis fringilla. Morbi at eros purus. Nunc vitae metus ex. Donec egestas ligula magna, eu malesuada sem sodales eget.
</p>
</div>
</center>
{% endblock %}
